#myForm{
    width: 40%;
    margin: 20px auto;
}
label{
    font-weight: bold;
}
input{
    width: 100%;
    /* margin-bottom: 20px; */
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin: 0px auto 15px;
}
#result{
    text-align: center;
}